name: annix
description: Project Anni client built with flutter.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  async: ^2.9.0

  f_logs:
    git:
      url: https://github.com/ProjectAnni/Flogs
  get: ^4.6.5
  shared_preferences: ^2.0.15
  connectivity_plus: ^2.3.5

  dio: ^4.0.6
  dio_cookie_manager: ^2.0.0
  dio_http2_adapter: ^2.0.0
  cookie_jar: ^3.0.1
  http_plus: ^0.2.1

  netease_music_api:
    git:
      url: https://github.com/ProjectAnni/flutter-netease-music-api.git

  audioplayers: ^1.0.1
  audio_service: ^0.18.6
  audio_service_platform_interface: ^0.1.0
  mpris_service:
    git:
      url: https://github.com/ProjectAnni/mpris_service.git

  ########################## Widgets ##########################
  # https://github.com/suragch/audio_video_progress_bar/issues/23
  # use official version if https://github.com/suragch/audio_video_progress_bar/pull/29 was merged
  audio_video_progress_bar:
    git:
      url: https://github.com/Hwan-seok/audio_video_progress_bar
      ref: 26a48f9b7f76e821c2a7250cdb78f1aa2fc3995b
  smooth_page_indicator: ^1.0.0+2
  extended_image: ^7.0.0-dev.1
  flutter_lyric: ^2.0.3
  settings_ui: ^2.0.2
  auto_size_text: ^3.0.0

  toml: ^0.13.1
  json_serializable: ^6.2.0
  json_annotation: ^4.5.0
  sqflite: ^2.0.1
  sqflite_common_ffi: ^2.1.1
  uuid: ^3.0.5
  freezed_annotation: ^2.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.1.5
  freezed: ^2.0.3+1

flutter:
  uses-material-design: true
